﻿
@model SportShop.ViewModels.Account.AddUserViewModel

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Danh sách danh mục</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a asp-area="Admin" asp-controller="Account" asp-action="Index" class="breadcrumb-item">Danh sách nhân viên</a>
                <span class="breadcrumb-item active">Chi tiết nhân viên</span>
            </nav>
        </div>
    </div>



    <h1>Thông tin</h1>


    <div>
        <h4>Thông tin nhân viên</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Hộ tên
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-2">
                Tên sử dụng
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                Ngày sinh
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Dob)
            </dd>
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                Chức vụ
            </dt>

            @if (Model.Role == "Admin")
            {
                <dd class="col-sm-10">
                    Quản trị viên
                </dd>
            }
            @if (Model.Role == "User")
            {
                <dd class="col-sm-10">
                    Nhân viên
                </dd>
            }

            @if (Model.Role == "Customer")
            {
                <dd class="col-sm-10">
                    Khách hàng
                </dd>
            }

        </dl>
        <form method="post" asp-action="DeleteCF">
            <input type="hidden" asp-for="@Model.Id" />
            <button class="btn btn-danger">Xóa</button>
        </form>

    </div>

</div>